<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="reports.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="reports.My.MySettings.collect2000ConnectionString"
            connectionString="Data Source=fbpa1sql2;Initial Catalog=collect2000;Integrated Security=True;Connect Timeout=0"
            providerName="System.Data.SqlClient" />
        <add name="reports.My.MySettings.Testdb" connectionString="Data Source=fbpa1sqlapril;Initial Catalog=collect2000;Integrated Security=True;Connect Timeout=0" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <reports.My.MySettings>
            <setting name="excelfiletype" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Excelchecked" serializeAs="String">
                <value>False</value>
            </setting>
        </reports.My.MySettings>
    </applicationSettings>
</configuration>